<div class="container">
<h1>Ask your coach anything!</h1>

<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question" placeholder="Ask your coach anything">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
<p>The most sofisticated Coaching Bot in the world!</p>
</div>
